{{ $is_list := .is_list }}
{{ $page := .page }}
{{ $link := "" }}
{{/*<!-- Abwandlung von page_links die in category_list angewandt wird um nur spezifische Links der Seiten aufzuführen -->*/}}
{{ range $page.Params.links }}
  {{ if ne .name "Code" }} {{/*<!-- Hier kann man beliebig Namen spezifizieren von Blöcken die nicht auftauchen sollen -->*/}}
    {{ $pack := or .icon_pack "fas" }}
    {{ $pack_prefix := $pack }}
    {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = "fa" }}
    {{ end }}
    {{ $link := .url | default "" }}
    {{ $scheme := (urls.Parse $link).Scheme }}
    {{ $target := "" }}
    {{ if not $scheme }}
      {{ $resource := $page.Resources.GetMatch $link }}
      {{ if $resource }}
        {{ $link = $resource.RelPermalink }}
      {{ else }}
        {{ $link = $link | relURL }}
      {{ end }}
    {{ else if in (slice "http" "https") $scheme }}
      {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
    {{ end }}
    <a class="btn btn-outline-primary btn-page-header{{ if $is_list }} btn-sm{{end}}" href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
      {{ if .icon }}<i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} {{if .name}}mr-1{{end}}"></i>{{end}}
      {{- with .name }}{{ . | safeHTML }}{{ end -}}
    </a>
  {{ else }}
  {{ end }}
{{ end }}